<h1><%= @listing.name %></h1>
<h3><%= @listing.breed %></h3>
<h3><%= @listing.price %></h3>
<p><%= @listing.documentation %></p>
<p><%= @listing.description%></p>


<%= link_to 'View Seller Profile', profile_path(profile) %>
<%= link_to 'Back', listings_path %>